.cardContainer {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    border: 1px solid #f8f8f8;
    height: 150px;
    width: 200px;

}

.turquoise .name {
    color: aliceblue;
    background-color: #219baa;
    min-height: 1.5rem;
    align-content: center;

}

.turquoise .price {
    color: aliceblue;
    background-color: #2cc1d5;
    min-height: 4rem;
    align-content: center;
}

.green .name {
    color: aliceblue;
    background-color: #218678;
    min-height: 1.5rem;
    align-content: center;

}

.green .price {
    color: aliceblue;
    background-color: #24ad8d;
    min-height: 4rem;
    align-content: center;
}

.red .name {
    color: aliceblue;
    background-color: #c4534f;
    min-height: 1.5rem;
    align-content: center;

}

.red .price {
    color: aliceblue;
    background-color: #f46a5f;
    min-height: 4rem;
    align-content: center;
}

.black .name {
    color: aliceblue;
    background-color: #282f37;
    min-height: 1.5rem;
    align-content: center;

}

.black .price {
    color: aliceblue;
    background-color: #333a44;
    min-height: 4rem;
    align-content: center;
}

.grey .name {
    color: aliceblue;
    background-color: #4c4e50;
    min-height: 1.5rem;
    align-content: center;

}

.grey .price {
    color: aliceblue;
    background-color: #818181;
    min-height: 4rem;
    align-content: center;
}

.speed {
    background-color: #f8f8f8;
    color: #4b4c4e;
}

.limit {
    color: #4b4c4e;
    background-color: #eeeeee;
}

.selected {
    height: 200px;
    width: 300px;
    border: 2px solid #abacad;
    justify-content: center;
    border-radius: 5px;

}